@import "_variables.scss";

* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

pre, code {
  font-family: 'Source Code Pro', 'Monaco', monospace;
}

pre {
  word-wrap: break-word;
}

body, p {
  font-size: 18px;
  color: $text;
  font-weight: 400;
}

a {
  color: mix($base, #282828, 40%);
}

h1, h2, h3, h4, h5, h6 {
  color: $head_color;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2 {
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-weight: 600;

}

h1 {
  margin-bottom: 20px;
}

h2 {
  padding: 5px 0px;
}

b, strong {
  font-weight: 600;
}

h1 { font-size: 42px; }
h2 { font-size: 34px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

body {
  text-align: center;
  margin: 0;
}

body > header {
  width: 100%;
  height: auto;
  background-color: $bar_color;

  padding-top: 2px;
  padding-bottom: 4px;

  .inner {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-right: auto;
  }


  .logo {
    color: $head_color;
    font-weight: bold;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: auto;
    a {
      color: $head_color;
      text-decoration: none;
      &:hover {
        color: lighten($head_color, 3%);
      }
    }
  }

  nav {
    margin-left: 30px;
    display: inline;
    font-size: 15px;
    font-weight: normal;

    ul {
      display: inline;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        list-style-type: none;
        padding: 0;
        margin-right: 20px;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: lighten($head_color, 3%);
      }
    }
  }
}

#container {
  width: $width;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
  text-align: left;
}

#container-fluid {
  text-align: left;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

.column2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  & > div, & > section {
    display: inline-block;
  }

  &.line {
    -webkit-column-rule: 1px solid $gray;
    -moz-column-rule: 1px solid $gray;
    column-rule: 1px solid $gray;
  }
}

ul.nobullets li {
  list-style-type: none;
}
