---
title: Pages - sorah.jp
---

<h1>Pages</h1>

<ul>
  <li><a href="/pages/env/">Environment</a></li>
  <li><a href="/packaging/debian/">Debian Packages</a></li>
  <li><a href="/faq/career/">進路に関する FAQ</a></li>
  <li><a href="/pages/salary.html">sorah's salary</a></li>
</ul>
