---
title: Salary - sorah.jp
---

<h1>sorah's salary</h1>

<style type="text/css">
.salary-table {
  border-collapse: collapse;

}
.salary-table thead tr {
  border-bottom: 1px gray solid;
}
.salary-table tbody td {
  border-right: 1px gray dotted;
  min-width: 60px;
}
</style>

<table class="salary-table">
  <thead>
    <tr>
      <td>year</td>
      <td>unit</td>
      <td>annual base</td>
      <td>bonus</td>
      <td>extra</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2013.png">2013</a></td>
      <td>10000 JPY</td>
      <td>400</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2014.png">2014</a></td>
      <td>10000 JPY</td>
      <td>417</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2015.png">2015</a></td>
      <td>10000 JPY</td>
      <td>480</td>
      <td>10</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2016.png">2016</a></td>
      <td>10000 JPY</td>
      <td>650</td>
      <td>30</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2017.png">2017</a></td>
      <td>10000 JPY</td>
      <td>768</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2018.png">2018/1-</a></td>
      <td>10000 JPY</td>
      <td>800.1</td>
      <td></td>
      <td><a href="https://img.sorah.jp/s/2019-02-05_1702_d6392.png">JCIOI: 300.3</a></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2019.png">2019/1-</a></td>
      <td>10000 JPY</td>
      <td>800.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2019.png">2019/8-</a></td>
      <td>10000 JPY</td>
      <td>835.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2020.png">2020/1-</a></td>
      <td>10000 JPY</td>
      <td>850</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2021.png">2021/1-</a></td>
      <td>10000 JPY</td>
      <td>900</td>
      <td>20</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2021.png">2021/8-</a></td>
      <td>10000 JPY</td>
      <td>1000.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2022.png">2022/1-</a></td>
      <td>10000 JPY</td>
      <td>1000.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2023/1-</td>
      <td>10000 JPY</td>
      <td>1020</td>
      <td>60</td>
      <td></td>
    </tr>
  </tbody>
</table>

