---
title: Sarary - sorah.jp
---

<h1>Salary</h1>

<table>
  <thead>
    <tr>
      <td>year</td>
      <td>currency</td>
      <td>base</td>
      <td>bonus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2013</td>
      <td>10k JPY</td>
      <td>400</td>
      <td></td>
    </tr>
    <tr>
      <td>2014</td>
      <td>10k JPY</td>
      <td>417</td>
      <td></td>
    </tr>
    <tr>
      <td>2015</td>
      <td>10k JPY</td>
      <td>480</td>
      <td>10</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>10k JPY</td>
      <td>650</td>
      <td>30</td>
    </tr>
  </tbody>
</table>

