---
title: Sarary - sorah.jp
---

<h1>sorah's salary</h1>

<style type="text/css">
.salary-table {
  border-collapse: collapse;

}
.salary-table thead tr {
  border-bottom: 1px gray solid;
}
.salary-table tbody td {
  border-right: 1px gray dotted;
  min-width: 60px;
}
</style>

<table class="salary-table">
  <thead>
    <tr>
      <td>year</td>
      <td>currency</td>
      <td>base</td>
      <td>bonus</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2013.png">2013</a></td>
      <td>10000 JPY</td>
      <td>400</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2014.png">2014</a></td>
      <td>10000 JPY</td>
      <td>417</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2015.png">2015</a></td>
      <td>10000 JPY</td>
      <td>480</td>
      <td>10</td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2016.png">2016</a></td>
      <td>10000 JPY</td>
      <td>650</td>
      <td>30</td>
    </tr>
    <tr>
      <td><a href="https://img.sorah.jp/s/salary2017.png">2017</a></td>
      <td>10000 JPY</td>
      <td>768</td>
      <td></td>
    </tr>
  </tbody>
</table>

