---
layout: false
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="keywords" content="Shota Fukumori, sora_h, sorah, Sora Harakami, 福森, 匠大, 福森匠大, そらはー, そらは">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1373818-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <%= stylesheet_link_tag "common", "ligature_symbols" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <title>wakeup sorah</title>
  </head>

  <body class="<%= page_classes %>">
    <div id="container-fluid">
      <h1>Wake sorah up</h1>

      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.15.min.js"></script>
      <script src="/wakeup/index.js"></script>

      <style type="text/css">
        .wakeup-debug {
          color: gray;
          font-size: 14px;
        }
        .wakeup_loading .wakeup-main {
          display: none;
        }

        .wakeup_ready .wakeup-loading-msg {
          display: none;
        }

        .wakeup-main {
          text-align: center;
        }

        .wakeup-main > div {
          margin-bottom: 50px;
        }

        .wakeup-button {
          font-size: 48px;
        }

        .wakeup-logs, .wakeup-results {
          text-align: left;
        }

        @keyframes wakeup_blinker {  
          50% { opacity: 0.0; }
        }

        .wakeup-result.wakeup-result-waiting .wakeup_msgid:before {
          content: "✆";
          margin-right: 10px;

          animation: wakeup_blinker 1s linear infinite;
        }

        .wakeup-result.wakeup-result-ack .wakeup_msgid:before {
          content: "✔︎";
          color: green;
          margin-right: 10px;
        }

        .wakeup-result.wakeup-result-skip .wakeup_msgid:before {
          content: "☃";
          margin-right: 10px;
        }

        .wakeup-result.wakeup-result-error .wakeup_msgid:before {
          content: "✖︎";
          color: red;
          margin-right: 10px;
        }

        .wakeup-result.wakeup-result-timeout .wakeup_msgid:before {
          content: "⚠︎";
          margin-right: 10px;
        }

        .wakeup-result {
          border: 1px solid #F6F9FF;
          border-radius: 3px;
          margin-bottom: 12px;
        }

        .wakeup-result .wakeup_msgid {
          background-color: #F6F9FF;
          padding: 6px 12px;
        }

        .wakeup-result .wakeup_state {
          padding: 6px 12px;
          padding-top: 6px;
        }

        .wakeup-desc {
          font-size: 16px;
        }

        .wakeup-pane.wakeup_agentup .wakeup-downalert {
          display: none;
        }

        .wakeup-downalert {
          border: 2px solid red;
          border-radius: 3px;
          padding: 6px 12px;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 50px;
        }
      </style>

      <div class="wakeup-pane wakeup_loading wakeup_agentup">
        <div class="wakeup-loading-msg">Preparing...</div>
        <div class="wakeup-downalert">
          Looks like agent is down! Please <a href="https://twitter.com/intent/tweet?text=@sora_h+your+wakeup+agent+seems+to+be+down&hashtags=sorah_wakeup">report to @sora_h</a>
        </div>

        <div class="wakeup-main">
          <button class="wakeup-button">Wake up!</button>
          <div class="wakeup-current">
          </div>

          <div class="wakeup-results">
            <!--
            <div class="wakeup-result wakeup-result-waiting">
              <div class="wakeup_msgid">2f613eca-4b2b-4e76-aeac-5b04972d2423</div>
              <div class="wakeup_state">waiting</div>
            </div>
            <div class="wakeup-result wakeup-result-ack">
              <div class="wakeup_msgid">2f613eca-4b2b-4e76-aeac-5b04972d2423</div>
              <div class="wakeup_state">ack: HaNaZaKaRi - 藍井エイル (vol=60)</div>
            </div>
            <div class="wakeup-result wakeup-result-skip">
              <div class="wakeup_msgid">2f613eca-4b2b-4e76-aeac-5b04972d2423</div>
              <div class="wakeup_state">skip: not in home</div>
            </div>
            <div class="wakeup-result wakeup-result-error">
              <div class="wakeup_msgid">2f613eca-4b2b-4e76-aeac-5b04972d2423</div>
              <div class="wakeup_state">error: xxx (contact Sorah for details)</div>
            </div>
            <div class="wakeup-result wakeup-result-timeout">
              <div class="wakeup_msgid">2f613eca-4b2b-4e76-aeac-5b04972d2423</div>
              <div class="wakeup_state">timed out (contact Sorah for details)</div>
            </div>
            -->
          </div>

          <div class="wakeup-logs">
            <ul>
            </ul>
          </div>
        </div>
      </div>

      <div class="wakeup-desc">
        <ul>
          <li>"Wake up" button involves iTunes play (with maximum volume) in @sorah's home and multiple twitter mentions.</li>
          <li>Technically, <a href="https://github.com/sorah/sorah.jp/tree/master/source/wakeup">this page</a> is using Amazon Coginto, S3, SQS. @sorah's machine is running <a href="https://github.com/sorah/config/blob/master/script/wakeup/wakeup.rb">SQS polling script</a>.</li>
        </ul>
      </div>

      <div class="wakeup-debug">
        <pre><code class="wakeup-debug-body">
        </code></pre>
      </div>

      <a class="twitter-timeline" href="https://twitter.com/hashtag/sorah_wakeup" data-widget-id="663070216822243328">#sorah_wakeup Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </body>
</html>
