---
title: Sorah Fukumori (Shota Fukumori)
---

<section id="bio">
  <div class="icon">
    <img src="https://secure.gravatar.com/avatar/b99311b48290f8ee37311890a8edfb1d.png?s=440">
  </div>

  <h1>Sorah Fukumori (sorah)</h1>
  <div class="title">Software Engineer</div>
  <div class="also_known_as"><span>Also known as:</span> Shota Fukumori, sora_h, soraher, そらは, 福森匠大</div>

  <p>Ruby committer and a Rubyist. Interested in web, distributed systems, and computer science.</p>
  <p>Lives in Tokyo, Japan.</p>
</section>

<section id="identifications">
  <h2>Identifications</h2>
  <ul class="column2">
    <li class="lsf-icon" title="mail">her@sorah.jp</li>
    <li class="lsf-icon" title="github"><a href="https://github.com/sorah">github.com/<b>sorah</b></a></li>
    <li class="lsf-icon" title="feed"><a href="http://blog.sorah.jp/">blog.sorah.jp</a></li>
    <li class="lsf-icon" title="feed"><a href="http://diary.sorah.jp/">diary.sorah.jp</a></li>
    <li class="lsf-icon" title="twitter"><a href="https://twitter.com/sora_h">@sora_h</a>, <a href="https://twitter.com/sorah_">@sorah_</a></li>
    <li class="lsf-icon" title="facebook"><a href="https://www.facebook.com/sorahjp">Sorah Fukumori</a></li>
    <li class="lsf-icon tabs"><a href="https://speakerdeck.com/sorah">speakerdeck.com/<b>sorah</b></a></li>
    <li class="lsf-icon" title="flickr"><a href="http://www.flickr.com/photos/sora_h/">sora_h</a></li>
  </ul>
  <p><a href="id.html">more...</a></p>
</section>

<section id="pro_experiences">
  <h2>Professional Experiences</h2>

  <section id="proexp_cookpad">
    <h3 class="cl"><a href="https://info.cookpad.com/en">Cookpad Inc.</a></h3>
    <div class="title">Site Reliability Engineer</div>
    <span class="time">April 2012 - present</span>
    <ul>
      <li><a href="https://cookpad.com/">Cookpad</a> is the largest recipe sharing website in world.</li>
      <li class="subworks">
        <div class="line">
          <section id="proexp_cookpad_dev-infra" class="subwork">
            <h4 class="cl">Developer Productivity Team</h4>
            <span class="time">April 2012 - April 2015</span>
            <ul>
              <li>Developer Productivity Team (dev-infra, 開発基盤) aims to improve developer experience (DX).</li>
              <li>Removing technical debts, improving internal-tools, and operating CI, testing, and development servers.</li>
              <li>Starting 2015, we're migrating one big monolithic web application to microservices like architecture, many small applications.
              I'm developing libraries and middlewares to make develop and maintain many applications easier.</li>
              <li>I made <a href="https://github.com/sorah/mamiya">Mamiya</a>, <a href="https://github.com/sorah/envchain">Envchain</a> at this team.</li>
              <li>I've left this team at the end of April 2015, but still continuing to contribute some works for this team.</li>
            </ul>
          </section>
          <section id="proexp_cookpad_ops" class="subwork">
            <h4 class="cl">Site Reliablity Engineering Team</h4>
            <span class="time">May 2015 - Present</span>
            <ul>
              <li>Site Reliablity Engineering Team (a.k.a. Infrastructure Team) is responsible to site reliablity and aims to automate operations.</li>
              <li>I'm mainly participating to <a href='https://cookpad.com/uk'>our global platform</a> as a SRE.</li>
              <li>I've achieved building the modern AWS infrastructure for the global platform.</li>
            </ul>
          </section>
        </div>
      </li>
    </ul>
  </section>
</section>

<section id="works">
  <h2>Works</h2>

  <div class="column2 line">
    <section id="works_days">
      <h4 class="cl"><a href="https://github.com/sorah/days">days</a></h4>
      <span class="time">January 2013</span>
      <ul>
        <li>Simple blog system built up with Sinatra, written in Ruby.</li>
      </ul>
    </section>

    <section id="works_ec2nm">
      <h4 class="cl"><a href="https://github.com/sorah/ec2nm">ec2nm</a></h4>
      <span class="time">June 2014</span>
      <ul>
        <li>DNS server that helps to resolve EC2 instance's IP address.</li>
      </ul>
    </section>

    <section id="works_envchain">
      <h4 class="cl"><a href="https://github.com/sorah/envchain">Envchain</a></h4>
      <span class="time">June 2014</span>
      <ul>
        <li>Secure credentials in environment variable; set them from OS X's keychain.</li>
        <li><a href="http://techlife.cookpad.com/entry/envchain">OS X キーチェーンから環境変数をセットするツールを作りました - クックパッド開発者ブログ</a></li>
      </ul>
    </section>

    <section id="works_mamiya">
      <h4 class="cl"><a href="https://github.com/sorah/mamiya">Mamiya</a></h4>
      <span class="time">September 2014</span>
      <ul>
        <li>Fast deployment tool using tarballs and serf. This is used for <a href="http://cookpad.com">cookpad.com</a>, a web application backed with 150+ app servers.</li>
        <li>Engineers in Cookpad can deploy within around 30 seconds for 150+ servers by this software.</li>
        <li><a href="https://speakerdeck.com/sorah/scalable-deployments-how-we-deploy-rails-app-to-150-plus-hosts-in-a-minute">Scalable Deployments - How we deploy Rails app to 150+ hosts in a minute // Speaker Deck</a></li>
      </ul>
    </section>

    <section id="works_etcvault">
      <h4 class="cl"><a href="https://github.com/sorah/etcvault">etcvault</a></h4>
      <span class="time">March 2015</span>
      <ul>
        <li>Reverse proxy for <a href="https://github.com/coreos/etcd">etcd</a>, but adding transparent encryption feature.</li>
      </ul>
    </section>

    <section id="works_etcenv">
      <h4 class="cl"><a href="https://github.com/sorah/etcenv">etcenv</a></h4>
      <span class="time">April 2015</span>
      <ul>
        <li>Tool to dump etcd keys as dotenv file or docker's env-file format.</li>
      </ul>
    </section>

    <section id="works_ngxomniauth">
      <h4 class="cl"><a href="https://github.com/sorah/nginx_omniauth_adapter">nginx_omniauth_adapter</a></h4>
      <span class="time">September 2015</span>
      <ul>
        <li>A Rack app to use <a href="https://github.com/intridea/omniauth">Omniauth</a> with nginx.</li>
        <li><a href="http://techlife.cookpad.com/entry/2015/10/16/080000">nginx で omniauth を利用してアクセス制御を行う - クックパッド開発者ブログ</a></li>
      </ul>
    </section>

    <section id="works_acmesmith">
      <h4 class="cl"><a href="https://github.com/sorah/acmesmith">acmesmith</a></h4>
      <span class="time">February 2016</span>
      <ul>
        <li>A simple, effective ACME client to use with many servers and a cloud.</li>
        <li><a href="https://github.com/ietf-wg-acme/acme">ACME Protocol</a> is used at <a href="https://letsencrypt.org/">Let's encrypt</a> for automating SSL certificate issuing. Acmesmith is the simplest client that works with several cloud providers for securing keys.</li>
      </ul>
    </section>

    <section id="works_codily">
      <h4 class="cl"><a href="https://github.com/sorah/codily">codily</a></h4>
      <span class="time">June 2016</span>
      <ul>
        <li>A tool to codificate a configuration of <a href="https://www.fastly.com/">Fastly CDN</a> in Ruby DSL.</li>
      </ul>
    </section>
  </div>

  <p>See more at <a href="https://github.com/sorah">my GitHub</a> and <a href="https://rubygems.org/profiles/sorah">my rubygems.org profile</a>.</p>
</section>

<section id="contributions">
  <h2>Contributions and Activities</h2>

  <div class="column2 line">
    <section id="contrib_ruby">
      <h3 class="cl"><a href="http://www.ruby-lang.org">Ruby</a></h3>
      <div class="title">Committer (developer)</div>
      <span class="time">February 2011 - present</span>
      <ul>
        <li>Also, I'm in Ruby's web page editorial team.</li>
      </ul>
    </section>

    <section id="contrib_sinsai">
      <h3 class="cl"><a href="http://sinsai.info/">Sinsai.info</a></h3>
      <div class="title">Developer</div>
      <span class="time">March 2011 - December 2011</span>
      <ul>
        <li>Sinsai.info provided informations for victims of 3.11 Japan disaster.</li>
        <li>
          I re-built Twitter crawler to improve performance, and added location based search using GPS for mobile devices.
        </li>
      </ul>
    </section>

    <section id="contrib_isucon4">
      <h3 class="cl"><a href="http://isucon.net/archives/41252218.html">ISUCON4</a></h3>
      <div class="title">Organizer and problem writer</div>
      <span class="time">August 2014 - November 2014</span>
      <ul>
        <li><a href="http://isucon.net/">ISUCON</a> is the famous performance tuning contest of Web applications in Japan. At 2014, <a href="http://isucon.net/archives/41252218.html">ISUCON4</a> held and I, <a href="https://twitter.com/mirakui">@mirakui</a>, and <a href="https://twitter.com/rosylilly">@rosylilly</a> were participated as organizer and problem writer.</a></li>
        <li><a href="http://admins.bar/4/">4: ISUCON4 Postmortem - Admins Bar</a></li>
      </ul>
    </section>

    <section id="contrib_rk17">
      <h3 class="cl"><a href="https://rubykaigi.org/2017/">RubyKaigi 2017</a></h3>
      <div class="title">Network staff (Wi-Fi)</div>
      <span class="time">September 2017</span>
      <ul>
        <li>Deployed a network and Wi-Fi for the conference called RubyKaigi 2017, held in September 2017 at Hiroshima, Japan.</li>
        <li><a href='https://github.com/sorah/rubykaigi2017-nw'>https://github.com/sorah/rubykaigi2017-nw</li></li>
      </ul>
    </section>



    <section id="contrib_more">
      <h3 class="cl">And more</h3>
      <ul>
        <li>And I've done more contributions to many projects, see more at <a href="https://github.com/sorah">my GitHub</a>.</li>
      </ul>
    </section>
  </div>
</section>

<section id="skills">
  <h2>Skills, Expertises</h2>
  <ul>
    <li><b>Programming Languages:</b> <a href="http://www.ruby-lang.org">Ruby</a>, <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a> and <a href="https://golang.org">Go</a></li>
    <li><b>Frameworks:</b> <a href="http://rubyonrails.org">Ruby on Rails</a> and <a href="http://www.sinatrarb.com">Sinatra</a></li>
    <li><b>Databases:</b> MySQL, Redis</li>
    <li><b>Markup Languages:</b> <a href="http://haml-lang.com">Haml</a>, <a href="http://sass-lang.com/">Sass</a> and <a href="http://en.wikipedia.org/wiki/HTML">HTML</a> + <a href="http://en.wikipedia.org/wiki/CSS">CSS</a></li>
    <li><b>Systems:</b> <a href="http://www.apple.com/osx">OS X</a>, <a href="http://www.debian.org/">Debian</a>, <a href="http://www.ubuntu.com/">Ubuntu</a>, <a href="http://www.centos.org/">CentOS</a>, and <a href="http://www.gentoo.org">Gentoo</a></li>
    <li><b>Networking:</b> Cisco IOS, Juniper Junos, Ubiquiti Edgerouter; <a href="http://bird.network.cz">BIRd</a>, <a href="https://www.strongswan.org/">strongSwan</a>, iproute2; IP routing, IPv6, eBGP, OSPF ...</li>
    <li><b>Server Provisioning:</b> <a href="https://puppetlabs.com/">Puppet</a>, <a href="https://github.com/itamae-kitchen/itamae">Itamae</a></li>
    <li><b>Platforms:</b> <a href="http://aws.amazon.com/">Amazon Web Services</a></li>
    <li><b>Development Environment:</b> <a href="http://www.vim.org">Vim</a>, <a href="http://git-scm.com">git</a>, <a href="https://github.com">GitHub</a></li>
  </ul>
</section>


<section id="honors">
  <h2>Honors and Awards</h2>
  <div class="line">
    <section>
      <h3 class="cl">第 7 回 日本OSS奨励賞 (Japan OSS Contributors Award)</h3>
      <span class="time">March 2012</span>
      <ul>
        <li><a href="http://ossforum.jp/ossaward7th2">http://ossforum.jp/ossaward7th2</a></li>
      </ul>
    </section>

    <section>
      <h3 class="cl"><a href="http://isucon.net/archives/45166636.html">ISUCON5</a>: 2nd place</h3>
      <span class="time">September 2015 - November 2015</span>
      <ul>
        <li><a href="http://isucon.net/">ISUCON</a> is the famous performance tuning contest of Web applications in Japan.</li>
        <li>At <a href="http://isucon.net/archives/45166636.html">ISUCON5</a> in 2015, our team 白金動物園 took 2nd place at the final round.</a></li>
        <li><a href="http://diary.sorah.jp/2015/11/02/isucon5f">http://diary.sorah.jp/2015/11/02/isucon5f</a></li>
      </ul>
    </section>
  </div>
</section>

<section id="communities">
  <h2>Communities</h2>

  <section id="communities_kmc">
    <h3 class="cl"><a href="http://www.kmc.gr.jp/">Kyoto university Microcomputer Club (KMC)</a></h3>
    <div class="title">Member, Sysadmin</div>
    <span class="time">August 2014 - present</span>
    <ul>
      <li>Participating for a project running AS (autonomous system) + eBGP in KMC network. (<a href="http://bgp.he.net/AS59128">AS59128</a>)</li>
    </ul>
  </section>
</section>

<section id="education">
  <h2>Education</h2>
  <h3 class="cl">Utsunomiya-shi Yohoku Junior High School '12</h3>
  <span class="time">April 2009 - March 2012</span>
  <ul>
    <li>宇都宮市立陽北中学校</li>
  </ul>
</section>

<section id="appearances">
  <h2>Appearances</h2>
  <div class="column2 line">
    <section>
      <h3 class="cl">WEB+DB PRESS Vol.69</h3>
      <div class="title">An Interview</div>
      <span class="time">June 2012</span>
      <ul>
        <li><a href="https://twitter.com/ttmtmy">@ttmtmy</a> interviewed me at <a href="http://gihyo.jp/magazine/wdpress/archive/2012/vol69#toc">WEB+DB PRESS Vol.69</a> "シューカツ女子ともよの会社訪問記　知りたい！あの人のはたらきかた"</li>
      </ul>
    </section>

    <section>
      <h3 class="cl">Atmarkit</h3>
      <div class="title">An Interview</div>
      <span class="time">April 2011</span>
      <ul>
        <li><a href="http://www.atmarkit.co.jp/news/201104/14/sora.html">Ruby開発の新メンバーは14歳の中学生！</a> (Japanese)</li>
      </ul>
    </section>
  </div>
</section>
