---
title: Identifications - sorah.jp
---

<h1>Identifications</h1>

<section id="web_resources">
  <h2>Web resources</h2>

  <ul class="column2">
    <li class="lsf-icon" title="mail">her@sorah.jp</li>
    <li class="lsf-icon" title="mail">sorah@tubusu.net</li>
    <li class="lsf-icon" title="google">sora134@gmail.com <span style="color: #AAA">(don't mail here)</span></li>
    <li class="lsf-icon" title="twitter"><a href="http://twitter.com/sora_h">@sora_h</a></li>
    <li class="lsf-icon" title="twitter"><a href="https://twitter.com/sorah_">@sorah_</a></li>
    <li class="lsf-icon" title="facebook"><a href="http://www.facebook.com/shota.fukumori">shota.fukumori</a></li>
    <li class="lsf-icon" title="feed"><a href="http://blog.sorah.jp/">blog.sorah.jp</a></li>
    <li class="lsf-icon" title="feed"><a href="http://diary.sorah.jp/">diary.sorah.jp</a></li>
    <li class="lsf-icon" title="github"><a href="http://github.com/sorah">github.com/<b>sorah</b></a></li>
    <li class="lsf-icon" title="flickr"><a href="http://www.flickr.com/photos/sora_h/">sora_h</a></li>
    <li class="lsf-icon" title="skype">sora_her</li>
    <li class="lsf-icon tabs"><a href="http://speakerdeck.com/u/sorah">speakerdeck.com/u/<b>sorah</b></a></li>
    <li class="lsf-icon star"><a href="http://coderwall.com/sorah">coderwall.com/<b>sorah</b></a></li>
    <li class="lsf-icon memo"><a href="http://ja.wikipedia.org/wiki/%E5%88%A9%E7%94%A8%E8%80%85:ShotaFukumori">ja.wikipedia.org <b>ShotaFukumori</b></a></li>
    <li class="lsf-icon" title="foursquare"><a href="http://foursquare.com/sora_h">sora_h</a></li>
    <li class="lsf-icon music"><a href="http://last.fm/user/sora_h">last.fm/user/<b>sora_h</b></a></li>
    <li class="lsf-icon" title="amazon"><a href="http://amzn.to/sora_h">amzn.to/sora_h</a></li>
    <li class="lsf-icon" title="tumblr"><a href="http://scrap.sorah.jp/">scrap.sorah.jp</a></li>
    <li class="lsf-icon" title="cookpad"><a href="http://cookpad.com/kitchen/4209753">4209753</a></li>
    <li class="lsf-icon" title="hatena"><a href="http://www.hatena.ne.jp/sora_h/">id:sora_h</a></li>
    <li class="lsf-icon" title="instagram"><a href="http://instagram.com/sora_h">sora_h</a></li>
    <li class="lsf-icon" title="ustream"><a href="http://www.ustream.tv/channel/sorah">sorah</a>, <a href="http://www.ustream.tv/channel/soraher">soraher</a></li>
    <li class="lsf-icon" title="line">sora_h (main), sora_her (sub)</li>
    <li class="lsf-icon game"><a href="http://hiroba.dqx.jp/sc/character/823055796788/">hiroba.dqx.jp/sc/character/<b>823055796788</b>/</a></li>
    <li class="lsf-icon graph"><a href="http://community.topcoder.com/tc?module=MemberProfile&cr=22913420">topcoder.com <b>shota.fukumori</b></a></li>
    <li class="lsf-icon sns"><a href="http://stackoverflow.com/users/586041/sora-h">stackoverflow.com <b>sora-h</b></a></li>
    <li class="lsf-icon" title="mixi"><a href="http://mixi.jp/show_profile.pl?id=24396733">24396733</a></li>
    <li class="lsf-icon game"><a href="http://sp.pf.mbga.jp/12008305/?guid=ON&url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fprofile%2Fshow%2F72177202%3Fl_frm%3DMypage_1%26rnd%3D835669350">im@s cinderella girls <b>72177202</b>..</a>
    <li class="lsf-icon game"><a href="http://imas.gree-apps.net/app/index.php/mypage/user_profile/id/1300000000000003111">im@s millionstars <b>1300..03111</b></a></li>

    <li class="lsf-icon book"><a href="http://booklog.jp/users/soraher">booklog.jp/users/<b>soraher</b></a></li>
    <li class="lsf-icon bookmark"><a href="http://b.hatena.ne.jp/sora_h/">b.hatena.ne.jp/<b>sora_h</b></a></li>
  </ul>
</section>

<section id="ssh">
  <h2>SSH public key</h2>

  <p><a href="/ssh-key.txt">ssh-key.txt</a> (<a href="/ssh-key.txt.asc">with pgp clearsign</a>)</p>
</section>

<section id="pgp">
  <h2>PGP public key</h2>

  <p>Current key is "<a href="/pgp-pubkeys/F4C0895C.txt">F4C0895C</a>: 71D9 EF35 7AF6 410E 75E1  C3AD 34F7 A7C2 F4C0 895C, created:2015-01-21 expires:2025-01-18"</p>

  <h3>History</h3>

  <ul>
    <li><a href="/pgp-pubkeys/F4C0895C.txt">F4C0895C</a>: 71D9 EF35 7AF6 410E 75E1  C3AD 34F7 A7C2 F4C0 895C, created:2015-01-21 expires:2025-01-18 <strong>current</strong></li>
    <li><a href="/pgp-pubkeys/31604EB9.txt">31604EB9</a>: E6F2 A50C 954C B791 38DE  3B4A 74AF 0D63 3160 4EB9, created:2013-08-23 expires:2018-08-22</li>
    <li><a href="/pgp-pubkeys/73E3B6AC.txt">73E3B6AC</a>: B93A DDCB 4DB8 E71D 0113  5BBD 81CC CD56 73E3 B6AC, created:2010-06-21</li>
  </ul>
</section>
