---
title: Sorah Fukumori
---

<section id="bio" class="index">
  <div class="icon">
    <picture>
      <source type="image/webp" srcset="https://img.sorah.jp/icon2017.rect-a.480.webp">
      <source type="image/jpeg" srcset="https://img.sorah.jp/icon2017.rect-a.480.jpg">
      <img src="https://img.sorah.jp/icon2017.rect-a.480.jpg">
    </picture>
  </div>

  <h1>Sorah Fukumori</h1>

  <p>is a Rubyist, a Rustacean, and Ruby committer. SWE for <a href="https://cookpad.com/uk">Cookpad</a>.</p>

  <nav>
    <ul class="column2 nobullets" style="margin: 5px 0px; padding: 0">
      <li><a href="https://twitter.com/sora_h" class="lsf-icon" title="twitter">@sora_h</a></li>
      <li><a href="https://github.com/sorah" class="lsf-icon" title="github">sorah</a></li>
      <li><a rel="me" href="https://hachyderm.io/@sorah">@hachyderm.io/sorah</a></li>
      <li><a rel="me" href="https://handon.club/@sorah">@handon.club/sorah</a></li>

      <li><a href="https://blog.sorah.jp/" class="lsf-icon" title="feed">blog.sorah.jp</a></li>
      <li><a href="https://diary.sorah.jp/" class="lsf-icon" title="feed">diary.sorah.jp</a></li>
    </ul>
    <p><span class="lsf-icon" title="mail">her@sorah.jp</span></p>
  </nav>
  <div class="more"><a href="about.html">More...</a></div>

  <p style="display: none">
    <a rel="me" href="https://hachyderm.io/@sorah">@hachyderm.io/sorah</a>
    <a rel="me" href="https://handon.club/@sorah">@handon.club/sorah</a>
  </p>

</section>
