---
title: Machines - sorah.jp
---

<h1>Machines</h1>

<p>Reference for myself</p>

<section id="clients">
  <h2>Clients</h2>

  <section id="americano">
    <h3>americano</h3>
    <ul>
      <li>MacBook Air (13-inch, Mid 2012); MacBookAir5,2</li>
      <li>CPU: 2GHz Intel Core i7 (2 threads)</li>
      <li>RAM: 8GB 1600 MHz DDR3</li>
      <li>SSD: 256GB</li>
      <li>GPU: Intel HD Graphics 4000 (1024 MB)</li>
    </ul>
  </section>
</section>

<section id="other">
  <h2>Other</h2>

  <section id="fairfield">
    <h3>fairfield</h3>
    <ul>
      <li>Prime Galleria SH</li>
      <li>OS: Windows 10 Pro</li>
      <li>M/B: ASRock H67DE</li>
      <li>CPU: <a href="http://ark.intel.com/products/52213/Intel-Core-i7-2600-Processor-8M-Cache-up-to-3_80-GHz">Intel Core i7-2600</a></li>
      <li>RAM: 16GB (DDR3 DIMM 1333MHz)</li>
      <li>HDD: 1TB, 2TB</li>
      <li>GPU: GeForce GTX 550 Ti</li>
      <li>Usage: client, gaming and hyper-v host</li>
    </ul>
  </section>
</section>

<section id="servers-phy">
  <h2>Servers (physical)</h2>

  <section id="oakland">
    <h3>oakland</h3>
    <ul>
      <li>Thinkpad X60</li>
      <li>OS: Linux (Gentoo)</li>
      <li>CPU: <a href="http://ark.intel.com/products/27253/Intel-Core2-Duo-Processor-T5500-2M-Cache-1_66-GHz-667-MHz-FSB">Intel Core 2 Duo T5500</a></li>
      <li>RAM: 512MB</li>
      <li>HDD: 40GB</li>
      <li>Usage: home networking</li>
    </ul>
  </section>

  <section id="livermore">
    <h3>livermore</h3>
    <ul>
      <li>HP MicroServer N40L</li>
      <li>OS: Linux (Gentoo)</li>
      <li>Usage: file hosting, tv recording</li>
    </ul>
  </section>

  <section id="springfield">
    <h3>springfield</h3>
    <ul>
      <li>OS: Linux (Gentoo)</li>
      <li>M/B: <a href="http://www.intel.com/content/www/us/en/motherboards/desktop-motherboards/desktop-board-dz77bh-55k.html">Intel® Desktop Board DZ77BH-55K</a></li>
      <li>CPU: <a href="http://ark.intel.com/products/65523/Intel-Core-i7-3770K-Processor-8M-Cache-up-to-3_90-GHz">Core i7-3770K</a></li>
      <li>RAM: 16GB (8GB * 2, DDR3 DIMM 1600MHz; remaining 2 slots)</li>
      <li>HDD: 2TB * 4</li>
      <li>SSD: 256GB</li>
      <li>Usage: File hosting (2), KVM host</li>
    </ul>
  </section>
</section>

<section id="servers-phy">
  <h2>Servers (virtual)</h2>

  <section id="hilliard">
    <h3>hilliard</h3>
    <ul>
      <li>Host: <a href="#fairfield">fairfield</a></li>
      <li>OS: Linux (Gentoo)</li>
    </ul>
  </section>

  <section id="boston">
    <h3>boston</h3>
    <ul>
      <li>Host: Sakura VPS 1GB</li>
    </ul>
  </section>

  <section id="linndale">
    <h3>linndale</h3>
    <ul>
      <li>Host: Sakura VPS 2GB</li>
    </ul>
  </section>

  <section id="ashley">
    <h3>ashley</h3>
    <ul>
      <li>Host: Sakura VPS 2GB</li>
    </ul>
  </section>

  <section id="lakewood">
    <h3>lakewood</h3>
    <ul>
      <li>Host: ConoHa 2GB (old)</li>
    </ul>
  </section>
</section>
