$base: rgb(25, 47, 53);
$head_color: lighten($base, 10%);
$gray: mix($base, #EEE, 10%);


* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: $base;
}

h1, h2, h3, h4, h5, h6 {
  color: $head_color;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

body {
  text-align: center;
}

#container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
